*{
    margin: 0%;
    position: relative;
}


.intro{
    background-color: rgb(243, 7, 7);
    font-size: x-large;
    display: flex;
    top:0px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
.links{
    display: inline-flex;
    gap: 25px;
}
.box{
    background-image: url(https://static0.carbuzzimages.com/wordpress/wp-content/uploads/gallery-images/original/670000/300/670380.jpg);
    background-size: cover;
    height: 90vh;
}

.move{
    position: absolute;
    background-color: blue;
    top:340px;

}

.popular{
    background-image: url(https://i0.wp.com/www.carrebate.net/wp-content/uploads/2022/06/best-car-in-2022-pin-on-automotive-intrepidclassroom.jpg);
    background-size: cover;
    height: 80vh;
    position: relative;
}